<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <span class="material-icons">theaters</span>
            <span [routerLink]="['/principal']">App Peliculas</span>
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary" routerLink="/peliculasList" routerLinkActive="mat-accent">Peliculas</button>
            <button mat-raised-button color="primary">Series</button>
        </div>
        <div *ngIf="isLogged">
            Bienvenido: {{ user.name }}
        </div>
        <div class="search">
            <mat-form-field class="example-form-field">
                <input matInput type="text" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="buscar()">Buscar</button>
            <button mat-raised-button color="secondary" routerLink="/registro" routerLinkActive="mat-accent">Registro</button>
            <button mat-raised-button color="secondary" routerLink="/registroreactivo" routerLinkActive="mat-accent">RegistroR</button>
            <button mat-raised-button color="secondary" routerLink="/login" routerLinkActive="mat-accent" *ngIf="!isLogged">Login</button>
            <button mat-raised-button color="secondary" (click)="logOut()" *ngIf="isLogged">LogOut</button>
        </div>
</mat-toolbar-row>
