.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cabecera {
    display: flex;
    flex-direction: row;
}

.caratula {
    margin-top:20px;
    margin-left: 40px;
}

.info {
    margin-left: 10px;
}

.imgCaratula {
    border-radius: 10px;
}